// fonts
@import url('https://fonts.googleapis.com/css?family=Fredoka:300,regular,500,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fredoka', sans-serif;
}

/* scroll bar */
::selection {
  background-color: #f0575d;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #824a4c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0575d;
  border-radius: 10px;
}
